body {
    width: 400px; /* Ajusta el ancho según lo necesites */
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .btn-block {
    width: 100%;
  }
  